<div class="row">
  <div class="col-md-12">
    <div class="display-4">Thanks for your purchase</div>
    <hr/>
  </div>
  <div class="col-md-6">
    <h4>Your Order Information</h4>
    
    <ul class="list-group">
      <% @order.order_items.each do |item| %>
      <li class="list-group-item">
        <span class="label label-default label-pill pull-right"><%= number_to_currency item.price * item.quantity, unit: 'VND ', precision: 0 %></span>
        <%= "#{item.food.name} x #{item.quantity}" %>
      </li>
      <% end %>
      <li class="list-group-item">
        <span class="label label-primary label-pill pull-right">
          <%= number_to_currency @order.delivery_fee, unit: 'VND ', precision: 0 %>
        </span>
        Delivery Fee
      </li>
      <li class="list-group-item">
        <span class="label label-primary label-pill pull-right">
          <%= number_to_currency @order.total_price, unit: 'VND ', precision: 0 %>
        </span>
        <strong>Total price </strong>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    
      <h4>User Information</h4>  
    
    
    <fieldset class="form-group">
      <label class="col-md-4">Order Id</label>
      <strong class="col-md-4"><%= @order.id %></strong>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-md-4">Created Date</label>
      <strong class="col-md-8"><%= @order.created_at.to_formatted_s(:long)   %></strong>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-md-4">Name</label>
      <strong class="col-md-8"><%= @order.customer_name %></strong>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-md-4">Email</label>
      <strong class="col-md-8"><%= @order.email %></strong>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-md-4">Phone</label>
      <strong class="col-md-8"><%= @order.phone %></strong>
    </fieldset>
    <fieldset class="form-group">
      <label class="col-md-4">Address</label>
      <strong class="col-md-8"><%= @order.address %></strong>
    </fieldset>
  </div>
  
</div>